<%= form_for(@departament) do |f| %>
  <% if @departament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@departament.errors.count, "error") %> prohibited this departament from being saved:</h2>

      <ul>
      <% @departament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :chief %><br />
    <%= f.number_field :chief %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
